/* Add this in your CSS file */
@import "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.dept-shadow {
  box-shadow: 2px 2px 3px 1px grey;
}
.join-shadow {
  box-shadow: 2px 2px 3px 1px grey;
}

/* title */
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.edu-au-vic-wa-nt-pre {
  font-family: "Edu AU VIC WA NT Pre", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/*big headings */
.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* paragraphs */
.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* ////////////////// */

.clip-container1 {
  clip-path: polygon(30% 0, 100% 0, 70% 100%, 0% 100%);
}

.clip-container2 {
  clip-path: polygon(30% 0, 100% 0, 70% 100%, 0% 100%);
}

/* .theDept:hover .theText {
  @apply text-theme-background;
}
.theDept:hover .theSvg {
  @apply fill-theme-background;
} */

.step-shadow {
  box-shadow: 0px 6px 10px -3px rgb(116, 161, 78);
}
.step-shadow:hover {
  box-shadow: 0px 12px 19px -5px rgb(116, 161, 78);
}

/* auth page 4 */
.text-neon-green {
  color: #39ff14;
}
.bg-neon-green {
  background-color: #39ff14;
}
.border-neon-green {
  border-color: #39ff14;
}
